*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 10px;
    padding: 20px;
    
}

.btn2{
    background-color: rgb(81, 81, 123);
    color: azure;
    border: 5px solid rgb(81, 81, 123);
    border-radius: 5px;
    font-size: 1.6rem;
}

/* .btn:hover{
    background-color: brown;
    border: 5px solid brown;
} */